{% extends 'partials/base.html' %} {% load static %} {% block content %}

<div class="dash-parent">
  <!--===== TRADER INFO ====-->
  <div class="dash-child">
    <h2>USER DASHBOARD</h2>
    <hr />
    <br />
    <p><strong>NAME : </strong>{{trader_id.name}}</p>
    <p><strong>ID : </strong>{{trader_id.id}}</p>
    <table>
      <tr>
        <th>Trader</th>
        <th>Timestamp</th>
        <th>Profit</th>
      </tr>

        <td>{{trader_id.id}}</td>
        <td>1min</td>
        <td>{{rand}}%</td>
      </tr>
    </table>
    <br />
  </div>
  <!--=== CHART SECTION ===-->
  <div class="chart-container">
    <div>
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>

{% endblock content %}
